@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Peanuts */
@font-face {
  font-family: "Peanut Donuts";
  src: url("/fonts/PeanutDonuts.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bungee", sans-serif;
  src: url("/fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Broad */
@font-face {
  font-family: "Broad";
  src: url("/fonts/Broad.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bradley Hand */
@font-face {
  font-family: "Bradley Hand";
  src: url("/fonts/ITCBradleyHandStd.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bradley Hand";
  src: url("/fonts/ITCBradleyHandStdBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bradley Hand";
  src: url("/fonts/ITCBradleyHandStdItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

.broad {
  font-family: "Broad";
}

body {
  font-family: "Poppins", sans-serif;
}
